.Home{
    background: rgb(54, 30, 70);
    background: linear-gradient(90deg, rgba(54,30,70,1)) 66%, rgba(140, 28, 209, 95%);
    display: flex;
    height: 630px;
    padding-top: 80px;
    position: relative;
}

.Home .Container{
    position: absolute;
    top: 15%;
    left: 2%;
    color: white;
}

.Home .Container .Hello{
    font-size: 63px;
}


.Home .Container h1{
    margin: 0;
}

.Home .Maxresdefault{
    height: 70%;
    position: absolute;
    right: 1%;
    top: 20%;
    border-radius: 10%;
}

.Home .Nicepic{
    height: 24%;
    position: absolute;
    bottom: 0;
    left: 2%;
}